body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  min-height: 100vh; 
  margin: 0;     

}
main{
  text-align: center;
}

h1 {
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;   

}
ul {
  list-style: none;
}

#headBlog li{
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #FFFFFF; 

}

input {
  width: 224px;
height: 40px;
top: 71px;
left: 1036px;

opacity: 1;
border-radius: 100px;
background: #1F293799;

}

.front {
  width: 80px;
height: 16px;
opacity: 0.6;

}

h2{
  width: 525px;
height: 76px;
top: 210px;
left: 458px;
opacity: 1;
color: #ffffff;
}

.name {
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #ffffff;
}

.worker {
  font-family: Roboto;
font-weight: 400;
font-size: 14px;

line-height: 28px;
letter-spacing: 0%;

}


#my-image {
 max-height: 594px;
 width: 896px;
}  



.textOne { 
font-family: Roboto;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
line-height: 32px;
letter-spacing: 0%;



}


.textTwo {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #FFFFFF;
}

span {
  text-decoration: underline;
}

 footer {
width: 226px;
height: 28px;
top: 1730px;
left: 608px;
opacity: 0.6;
 }

 footer {
  text-align: center;
 }




