.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 291px;
    gap: 0 24px;
    width: 1156px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;


}


.wrapper {
    margin: auto 0;
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    padding: 48px 40px 40px 48px;
    border-radius: 8px;
    border: 1px solid black;
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}




.separator {
    border: 1px solid #4E5D7C14;
    width: 289px;

}



.section__h3 {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 32px;
    line-height: 120%;
}


.paragraph {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text-sp);
}


.title,
.value {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 17px;
    line-height: 120%;
    color: var(--value-text);
}

.button {
        font-weight: 800;
        font-style: Extra Bold;
        font-size: 17px;
        line-height: 140%;
        padding: 12px ;
        border-radius:47px;
        border: none;
   
}